Django==5.2
djangorestframework
drf-spectacular
psycopg2-binary
celery
redis==8.0.1
Pillow
python-dotenv
gunicorn
django-cors-headers
django-jazzmin==3.0.1
PyJWT
cryptography>=41.0.0
setuptools
psutil
requests
channels==4.3.2
channels-redis==4.3.0
daphne
django-simple-history
qrcode==8.0
